<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, maximum-scale=1">
 <title></title>
</head>
<body>
    <form action="/bookmarks/<%= bookmark.id %>/comments" method="POST">
        <input id="commentForm" type="text" name="comment">
        <input id="commentButton" type="submit" value="Comment">
    </form>
</body>
</html>