<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, maximum-scale=1">
 <title>Bookmarks</title>
</head>
<body>
    <h1>Bookmarks</h1>
    <ul>
        <% for (var i = 0; i < Bookmarks.length ; i++) { %>
            <li> <%= Bookmarks[i] %> </li><form action="/" method="POST"><input id=`delete-button-${i}` type="button" value="Delete"/></form>
        <% } %>
    </ul>
    <form action="/" method="POST">
        <input id="addForm" type="text" name="url">
        <input id="addButton" type="submit" value="Add">
    </form>
</body>
</html>